global
    maxconn 150

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:31334
    stats enable
    stats uri /

listen postgres
    bind *:31333
    balance roundrobin
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pgbouncer-vm1_6432 pgbouncer_vm1_private_ip:6432 maxconn 150 check port 6432
    server pgbouncer-vm2_6432 pgbouncer_vm2_private_ip:6432 maxconn 150 check port 6432
    server pgbouncer-vm3_6432 pgbouncer_vm3_private_ip:6432 maxconn 150 check port 6432